{
    "port": 8889,
    "target-dwr": "http://10.165.124.231/",
    "target-ajax": "http://10.165.124.231/",
    "target-other": "http://localhost:8002",
    "proxy": [{
        "host": ["localhost:8889", "icourse163.org", "www.icourse163.org"],
        "rule": [{
            "path": "/dwr/",
            "routeTo": "target-dwr"
        }, {
            "path": "/web/j",
            "routeTo": "target-ajax"
        }],
        "otherRouteTo": "target-other"
    }]
}